




div.jshub.inspector .state1, div.jshub.inspector .state2, div.jshub.inspector .state3 {
  font-size: 85%;
  background-color: #cccccc; }
  div.jshub.inspector .state1 a.container-close,   div.jshub.inspector .state2 a.container-close,   div.jshub.inspector .state3 a.container-close {
    width: 16px;
    height: 17px !important;
    background-color: transparent;
    background-image: url('assets/images/icon-indicator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -17px -317px; }
  div.jshub.inspector .state1 a.container-minimise,   div.jshub.inspector .state2 a.container-minimise,   div.jshub.inspector .state3 a.container-minimise {
    position: absolute;
    width: 16px;
    height: 17px !important;
    top: 5px;
    right: 26px;
    display: block;
    height: inherit;
    overflow: hidden;
    text-indent: -10000em;
    text-decoration: none;
    background-color: transparent;
    background-image: url('assets/images/icon-indicator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -17px -268px; }
  div.jshub.inspector .state1 a.container-info,   div.jshub.inspector .state2 a.container-info,   div.jshub.inspector .state3 a.container-info {
    position: absolute;
    width: 16px;
    height: 16px !important;
    bottom: 2px;
    left: 2px;
    display: block;
    height: inherit;
    overflow: hidden;
    text-indent: -10000em;
    text-decoration: none;
    background-color: transparent;
    background-image: url('assets/images/icon-indicator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -17px -367px; }
  div.jshub.inspector .state1 .hd, div.jshub.inspector .state1 .ft, div.jshub.inspector .state1 .bd,   div.jshub.inspector .state2 .hd, div.jshub.inspector .state2 .ft, div.jshub.inspector .state2 .bd,   div.jshub.inspector .state3 .hd, div.jshub.inspector .state3 .ft, div.jshub.inspector .state3 .bd {
    background-color: inherit; }
  div.jshub.inspector .state1 .hd,   div.jshub.inspector .state2 .hd,   div.jshub.inspector .state3 .hd {
    height: 24px;
    line-height: 24px;
    border-color: #808080;
    background: none;
    background-color: #cccccc; }
  div.jshub.inspector .state1 .ft p,   div.jshub.inspector .state2 .ft p,   div.jshub.inspector .state3 .ft p {
    margin: 0;
    padding-left: 12px; }
  div.jshub.inspector .state1 .bd,   div.jshub.inspector .state2 .bd,   div.jshub.inspector .state3 .bd {
    padding: 0;
    background-color: inherit; }
    div.jshub.inspector .state1 .bd p.search,     div.jshub.inspector .state2 .bd p.search,     div.jshub.inspector .state3 .bd p.search {
      margin: 0;
      padding: 5px 10px;
      color: #333333;
      font-size: 100%; }
    div.jshub.inspector .state1 .bd div.buttons,     div.jshub.inspector .state2 .bd div.buttons,     div.jshub.inspector .state3 .bd div.buttons {
      padding: 5px 10px; }
      div.jshub.inspector .state1 .bd div.buttons a.button,       div.jshub.inspector .state2 .bd div.buttons a.button,       div.jshub.inspector .state3 .bd div.buttons a.button {
        display: block;
        margin: 0;
        padding: 2px;
        border: 2px solid #000000;
        border-radius: 0.25em;
        -moz-border-radius: 0.25em;
        background-color: #808080;
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
        font-size: 116%;
        color: #000000; }
div.jshub.inspector .state2 .status, div.jshub.inspector .state3 .status {
  border-bottom: 1px solid #808080; }
div.jshub.inspector .state2 ul#event-list, div.jshub.inspector .state3 ul#event-list {
  width: inherit !important;
  margin: 2px;
  margin-bottom: 5px;
  background-color: transparent; }
  div.jshub.inspector .state2 ul#event-list li.yui-accordion-panel,   div.jshub.inspector .state3 ul#event-list li.yui-accordion-panel {
    background-color: #ffffff; }
    div.jshub.inspector .state2 ul#event-list li.yui-accordion-panel a.yui-accordion-toggle,     div.jshub.inspector .state3 ul#event-list li.yui-accordion-panel a.yui-accordion-toggle {
      padding: 1px;
      border: 2px solid #000000;
      border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      border-width: 1px;
      background: none;
      background-color: #808080;
      text-decoration: none; }
      div.jshub.inspector .state2 ul#event-list li.yui-accordion-panel a.yui-accordion-toggle.active,       div.jshub.inspector .state3 ul#event-list li.yui-accordion-panel a.yui-accordion-toggle.active {
        background-color: #000000;
        color: #fff;
        text-decoration: none; }
      div.jshub.inspector .state2 ul#event-list li.yui-accordion-panel a.yui-accordion-toggle span.indicator,       div.jshub.inspector .state3 ul#event-list li.yui-accordion-panel a.yui-accordion-toggle span.indicator {
        display: none; }
      div.jshub.inspector .state2 ul#event-list li.yui-accordion-panel a.yui-accordion-toggle span.count,       div.jshub.inspector .state3 ul#event-list li.yui-accordion-panel a.yui-accordion-toggle span.count {
        position: absolute;
        right: 1.5em; }
    div.jshub.inspector .state2 ul#event-list li.yui-accordion-panel div.yui-accordion-content,     div.jshub.inspector .state3 ul#event-list li.yui-accordion-panel div.yui-accordion-content {
      overflow: auto;
      background-color: #ffffff; }
  div.jshub.inspector .state2 ul#event-list .event-section .bd,   div.jshub.inspector .state3 ul#event-list .event-section .bd {
    margin: 0;
    padding: 0;
    border: none; }
  div.jshub.inspector .state2 ul#event-list .event-section div.event-item .bd,   div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item .bd,   div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item .bd,   div.jshub.inspector .state3 ul#event-list .event-section div.event-item .bd,   div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item .bd,   div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item .bd {
    margin: 0;
    padding: 5px;
    padding-bottom: 0;
    border: none;
    background-color: transparent; }
    div.jshub.inspector .state2 ul#event-list .event-section div.event-item .bd hr.event-separator,     div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item .bd hr.event-separator,     div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item .bd hr.event-separator,     div.jshub.inspector .state3 ul#event-list .event-section div.event-item .bd hr.event-separator,     div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item .bd hr.event-separator,     div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item .bd hr.event-separator {
      margin: 0;
      margin-top: 5px;
      border: none;
      border-top: 1px solid #999999; }
    div.jshub.inspector .state2 ul#event-list .event-section div.event-item .bd p,     div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item .bd p,     div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item .bd p,     div.jshub.inspector .state3 ul#event-list .event-section div.event-item .bd p,     div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item .bd p,     div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item .bd p {
      margin: 0; }
  div.jshub.inspector .state2 ul#event-list .event-section div.event-item ul.message.success li, div.jshub.inspector .state2 ul#event-list .event-section div.event-item div.message.success ul li,   div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item ul.message.success li, div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item div.message.success ul li,   div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item ul.message.success li, div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item div.message.success ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.event-item ul.message.success li, div.jshub.inspector .state3 ul#event-list .event-section div.event-item div.message.success ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item ul.message.success li, div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item div.message.success ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item ul.message.success li, div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item div.message.success ul li {
    background-position: -21px -68px; }
  div.jshub.inspector .state2 ul#event-list .event-section div.event-item ul.message.error li, div.jshub.inspector .state2 ul#event-list .event-section div.event-item div.message.error ul li,   div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item ul.message.error li, div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item div.message.error ul li,   div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item ul.message.error li, div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item div.message.error ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.event-item ul.message.error li, div.jshub.inspector .state3 ul#event-list .event-section div.event-item div.message.error ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item ul.message.error li, div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item div.message.error ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item ul.message.error li, div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item div.message.error ul li {
    background-position: -21px -118px; }
  div.jshub.inspector .state2 ul#event-list .event-section div.event-item ul.message.info li, div.jshub.inspector .state2 ul#event-list .event-section div.event-item div.message.info ul li,   div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item ul.message.info li, div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item div.message.info ul li,   div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item ul.message.info li, div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item div.message.info ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.event-item ul.message.info li, div.jshub.inspector .state3 ul#event-list .event-section div.event-item div.message.info ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item ul.message.info li, div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item div.message.info ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item ul.message.info li, div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item div.message.info ul li {
    background-position: -21px -168px; }
  div.jshub.inspector .state2 ul#event-list .event-section div.event-item ul.message.warning li, div.jshub.inspector .state2 ul#event-list .event-section div.event-item div.message.warning ul li,   div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item ul.message.warning li, div.jshub.inspector .state2 ul#event-list .event-section div.datasource-item div.message.warning ul li,   div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item ul.message.warning li, div.jshub.inspector .state2 ul#event-list .event-section div.tag-status-item div.message.warning ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.event-item ul.message.warning li, div.jshub.inspector .state3 ul#event-list .event-section div.event-item div.message.warning ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item ul.message.warning li, div.jshub.inspector .state3 ul#event-list .event-section div.datasource-item div.message.warning ul li,   div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item ul.message.warning li, div.jshub.inspector .state3 ul#event-list .event-section div.tag-status-item div.message.warning ul li {
    background-position: -21px -218px; }
  div.jshub.inspector .state2 ul#event-list .event-section .event-item ul.message,   div.jshub.inspector .state2 ul#event-list .event-section .datasource-item ul.message,   div.jshub.inspector .state3 ul#event-list .event-section .event-item ul.message,   div.jshub.inspector .state3 ul#event-list .event-section .datasource-item ul.message {
    margin: 0;
    padding: 2px; }
    div.jshub.inspector .state2 ul#event-list .event-section .event-item ul.message li,     div.jshub.inspector .state2 ul#event-list .event-section .datasource-item ul.message li,     div.jshub.inspector .state3 ul#event-list .event-section .event-item ul.message li,     div.jshub.inspector .state3 ul#event-list .event-section .datasource-item ul.message li {
      padding: 0;
      padding-left: 20px;
      background-color: transparent;
      background-image: url('assets/images/icon-indicator-sprite.png');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: top left; }
  div.jshub.inspector .state2 ul#event-list .event-section .event-item p.variable,   div.jshub.inspector .state2 ul#event-list .event-section .datasource-item p.variable,   div.jshub.inspector .state3 ul#event-list .event-section .event-item p.variable,   div.jshub.inspector .state3 ul#event-list .event-section .datasource-item p.variable {
    font-weight: bold; }
  div.jshub.inspector .state2 ul#event-list .event-section .event-item p.vendor,   div.jshub.inspector .state2 ul#event-list .event-section .datasource-item p.vendor,   div.jshub.inspector .state3 ul#event-list .event-section .event-item p.vendor,   div.jshub.inspector .state3 ul#event-list .event-section .datasource-item p.vendor {
    color: #666666; }
  div.jshub.inspector .state2 ul#event-list .event-section .event-item div.duplicate p.value,   div.jshub.inspector .state2 ul#event-list .event-section .datasource-item div.duplicate p.value,   div.jshub.inspector .state3 ul#event-list .event-section .event-item div.duplicate p.value,   div.jshub.inspector .state3 ul#event-list .event-section .datasource-item div.duplicate p.value {
    color: #666666; }
  div.jshub.inspector .state2 ul#event-list .event-section .datasource-item div.event-header,   div.jshub.inspector .state3 ul#event-list .event-section .datasource-item div.event-header {
    font-weight: bold; }
  div.jshub.inspector .state2 ul#event-list .event-section .tag-status-item div.event-header,   div.jshub.inspector .state3 ul#event-list .event-section .tag-status-item div.event-header {
    font-weight: bold; }
  div.jshub.inspector .state2 ul#event-list .event-section .tag-status-item div.message ul,   div.jshub.inspector .state3 ul#event-list .event-section .tag-status-item div.message ul {
    margin: 0;
    padding: 2px; }
    div.jshub.inspector .state2 ul#event-list .event-section .tag-status-item div.message ul li,     div.jshub.inspector .state3 ul#event-list .event-section .tag-status-item div.message ul li {
      min-height: 20px;
      padding-left: 20px;
      background-color: transparent;
      background-image: url('assets/images/icon-indicator-sprite.png');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: top left; }
div.jshub.inspector .state1 .hd {
  display: none; }
div.jshub.inspector .state1 .bd {
  padding: 5px; }
  div.jshub.inspector .state1 .bd ul.launcher {
    margin: 0;
    padding: 0; }
    div.jshub.inspector .state1 .bd ul.launcher li.status {
      padding-left: 25px;
      list-style-image: none;
      list-style-position: inside;
      list-style-type: none;
      background-color: transparent;
      background-image: url('assets/images/icon-indicator-sprite.png');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: -21px -66px;
      font-weight: bolder; }
div.jshub.inspector .state1 .success ul.launcher li.status {
  background-position: -15px -66px; }
div.jshub.inspector .state1 .error ul.launcher li.status {
  background-position: -15px -116px; }
div.jshub.inspector .state1 .info ul.launcher li.status {
  background-position: -15px -168px; }
div.jshub.inspector .state1 .warning ul.launcher li.status {
  background-position: -15px -218px; }
div.jshub.inspector .state1 .ft {
  display: none; }
div.jshub.inspector .state2 .status.large div.icon {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url('assets/images/icon-large-sprite.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left top; }
div.jshub.inspector .state2 .status.large div.text {
  width: 74.1%; }
div.jshub.inspector .state2 .status.large p.self {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  color: #333333;
  font-size: 100%;
  font-weight: normal;
  line-height: 20px; }
div.jshub.inspector .state2 .status.large p.message {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 116%;
  font-weight: bold;
  line-height: 20px; }
div.jshub.inspector .state2 .success .status.large div.icon {
  background-color: #006600;
  background-position: left -50px; }
div.jshub.inspector .state2 .error .status.large div.icon {
  background-color: #cc0000;
  background-position: left -100px; }
div.jshub.inspector .state2 .info .status.large div.icon {
  background-color: #808080;
  background-position: left -150px; }
div.jshub.inspector .state2 .warning .status.large div.icon {
  background-color: #ffcc33;
  background-position: left -200px; }
div.jshub.inspector .state3 #event-list .bd {
  margin: 0;
  padding: 0;
  border: none; }
div.jshub.inspector .state3 .status.small div.icon {
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url('assets/images/icon-small-sprite.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left top; }
div.jshub.inspector .state3 .status.small div.text {
  width: 87.1%; }
div.jshub.inspector .state3 .status.small p.self {
  color: #333333;
  font-size: 77%;
  font-weight: normal; }
div.jshub.inspector .state3 .status.small p.message {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 2px;
  color: #000000;
  font-size: 116%;
  font-weight: bold;
  line-height: 20px; }
div.jshub.inspector .state3 .success .status.small div.icon {
  background-color: #006600;
  background-position: -10px -60px; }
div.jshub.inspector .state3 .error .status.small div.icon {
  background-color: #cc0000;
  background-position: -10px -110px; }
div.jshub.inspector .state3 .info .status.small div.icon {
  background-color: #808080;
  background-position: -10px -162px; }
div.jshub.inspector .state3 .warning .status.small div.icon {
  background-color: #ffcc33;
  background-position: -10px -214px; }
div.jshub.inspector .state1 a.container-minimise, div.jshub.inspector .state1 a.container-info, div.jshub.inspector .state1 a.container-close, div.jshub.inspector .state1 div.status.small, div.jshub.inspector .state1 div.search, div.jshub.inspector .state1 ul#event-list, div.jshub.inspector .state1 div.buttons.small, div.jshub.inspector .state1 div.status.large, div.jshub.inspector .state1 div.buttons.large {
  display: none !important; }
div.jshub.inspector .state2 ul.launcher, div.jshub.inspector .state2 div.status.small, div.jshub.inspector .state2 div.search, div.jshub.inspector .state2 ul#event-list, div.jshub.inspector .state2 div.buttons.small {
  display: none !important; }
div.jshub.inspector .state3 ul.launcher, div.jshub.inspector .state3 div.status.large, div.jshub.inspector .state3 div.buttons.large {
  display: none !important; }
