# for image urls use ../../images/inspector/

# CONSTANTS
!color_text_normal = #333
!color_text_bold = #000
!color_text_mid = #666
!color_text_light = #999

!color_bg_dark = #000
!color_bg_mid = #808080
!color_bg_light = #ccc

!color_success = #060
!color_error = #c00
!color_warning = #808080
!color_info = #fc3
!color_border = #808080

!grid_icon_large = 50px
!grid_icon_small = 25px

!radius_border = 0.25em

# button constants
!color_border_button = #000
!color_bg_button = #808080

# accordion constants
!color_events_bg_light = #fff
!color_border_separator = #999

# Mixins
=accessible-link-replacement
  :display block
  :height inherit
  :overflow hidden
  :text-indent -10000em
  :text-decoration none

=icon-indicator-background
  :color transparent 
  :image url('assets/images/icon-indicator-sprite.png') 
  :repeat no-repeat 
  :attachment scroll

=thick-rounded-border
  :border = 2px solid !color_border_button
  :border-radius = !radius_border
  :-moz-border-radius = !radius_border

  
div.jshub.inspector
  .state1, .state2, .state3
    :font-size 85%
    :background
      :color = !color_bg_light

    a.container-close
      :width 16px
      # resizing causes the style to be changed to inherit
      :height 17px !important
      :background
        +icon-indicator-background
        :position = -17px (-17-(6*!grid_icon_large))
        
    a.container-minimise
      :position absolute
      :width 16px
      # resizing causes the style to be changed to inherit
      :height 17px !important
      :top 5px
      :right 26px
      +accessible-link-replacement
      :background
        +icon-indicator-background
        :position = -17px (-18-(5*!grid_icon_large))

    a.container-info
      :position absolute
      :width 16px
      # resizing causes the style to be changed to inherit
      :height 16px !important
      :bottom 2px
      :left 2px
      +accessible-link-replacement
      :background
        +icon-indicator-background
        :position = -17px (-17-(7*!grid_icon_large))

    .hd, .ft, .bd
      :background
        :color inherit
    .hd
      :height 24px
      :line-height 24px
      :border-color = !color_border
      # clear out YUI sam skin
      :background none
      :background
        :color = !color_bg_light
    .ft
      p
        :margin 0
        :padding-left 12px
    .bd
      :padding 0
      :background
        :color inherit
      
      p.search
        :margin 0
        :padding 5px 10px
        :color = !color_text_normal
        :font
          :size 100%        
      
      div.buttons
        :padding 5px 10px
        a.button
          :display block
          :margin 0
          :padding 2px
          +thick-rounded-border
          :background
            :color = !color_bg_button
          :text-align center
          :text-decoration none
          :font
            :weight bolder
            :size 116%
          :color = !color_text_bold
    
  .state2, .state3
    .status
      :border-bottom = 1px solid !color_border

    # Accordion styles
    ul#event-list
      # override the default width so we can add margins without breaking the bounding box
      :width inherit !important
      :margin 2px
      :margin-bottom 5px
      :background
        :color transparent
      
      li.yui-accordion-panel
        :background
          :color = !color_events_bg_light
        a.yui-accordion-toggle
          :padding 0.2em 0.3em 0.15em 0.3em
          +thick-rounded-border
          :border-width 1px
          :background none
          :background
            :color = !color_bg_mid
          :text-decoration none
          &.active
            :background
              :color = !color_bg_dark
            :color #fff
            :text-decoration none
          span.indicator
            :display none
          # custom count indicator
          span.count
            :position absolute
            :right 1.5em
          
          
        div.yui-accordion-content
          :overflow auto
          :background
            :color = !color_events_bg_light

      # accordion panel including header
      .event-section
        .bd
          :margin 0
          :padding 0
          :border none
          
        # single event entry
        div.event-item, div.datasource-item, div.tag-status-item
          .bd
            :margin 0
            :padding 5px
            :padding-bottom 0
            :border none
            :background
              :color transparent
            hr.event-separator
              :margin 0
              :margin-top 5px
              :border none
              :border-top = 1px solid !color_border_separator
            p
              :margin 0

          #inline status icons
          ul.message.success li, div.message.success ul li
            :background
              :position = -21px (-18-(1*!grid_icon_large))
          ul.message.error li, div.message.error ul li
            :background
              :position = -21px (-16-(2*!grid_icon_large))
          ul.message.info li, div.message.info ul li
            :background
              :position = -21px (-18-(3*!grid_icon_large))
          ul.message.warning li, div.message.warning ul li
            :background
              :position = -21px (-18-(4*!grid_icon_large))
              
        # Data event
        .event-item, .datasource-item
          ul.message
            :margin 0
            :padding 2px
            li
              :padding 0
              :padding-left 20px
              :background
                +icon-indicator-background
                :position top left
          p
            &.variable
              :font-weight bold
            &.vendor
              :color = !color_text_mid
            &.value
          div.duplicate p.value
            :color = !color_text_mid
            
        # datasource event
        .datasource-item
          div.event-header
            :font-weight bold  
        # tag status event
        .tag-status-item
          div.event-header
            :font-weight bold              
          div.message 
            ul
              :margin 0
              :padding 2px
              li
                :min-height 20px
                :padding-left 20px
                :background
                  +icon-indicator-background
                  :position top left

                
  # Closed - small floating icon
  .state1
    # TODO the panel should be position: fixed to keep place when the viewport is scrolled ref: http://stackoverflow.com/questions/624414/yui-panel-and-scrolling
    # position: fixed;   
    .hd
      :display none
    .bd 
      :padding 5px
      ul
        :margin 0
        :padding 0
        li.status
          :padding-left 25px
          :list-style-image none
          :list-style-position inside
          :list-style-type none  
          :background
            +icon-indicator-background
            :position = -21px (-16-!grid_icon_large)
          :font
            :weight bolder

    .ft
      :display none
  
  # Minimised - panel has large icon and buttons
  .state2

    .status.large
      div.icon
        :width 50px
        :height 50px
        :background
          :color transparent 
          :image url('assets/images/icon-large-sprite.png') 
          :repeat no-repeat 
          :attachment scroll 
          :position left top
      div.text
        :width 74.1%
      p.self
        :margin 0
        :padding 0
        :padding-top 4px
        :color = !color_text_normal
        :font
          :size 100%
          :weight normal
        :line-height 20px
      p.message
        :margin 0
        :padding 0
        :color = !color_text_bold
        :font
          :size 116%
          :weight bold  
        :line-height 20px

    # Icon states          
    .success 
      .status.large div.icon
        :background
          :color = !color_success
          :position = left (0-!grid_icon_large)
    .error 
      .status.large div.icon
        :background
          :color = !color_error
          :position = left (2*(0-!grid_icon_large))
    .info 
      .status.large div.icon
        :background
          :color = !color_warning
          :position = left (3*(0-!grid_icon_large))
    .warning 
      .status.large div.icon
        :background
          :color = !color_info
          :position = left (4*(0-!grid_icon_large))

  
  # Maximised - with accordion data and live updating
  .state3
    #event-list
      .bd
        :margin 0
        :padding 0
        :border none

    .status.small
      div.icon
        :width 25px
        :height 25px
        :background
          :color transparent 
          :image url('assets/images/icon-small-sprite.png') 
          :repeat no-repeat 
          :attachment scroll 
          :position left top
      div.text
        :width 87.1%
      p.self
        :color = !color_text_normal
        :font
          :size 77%
          :weight normal         
      p.message
        :margin 0
        :padding 0
        :padding-top 2px
        :padding-left 2px
        :color = !color_text_bold
        :font
          :size 116%
          :weight bold  
        :line-height 20px 

    # Icon states          
    .success 
      .status.small div.icon
        :background
          :color = !color_success
          :position = -10px (-10-!grid_icon_large)
    .error 
      .status.small div.icon
        :background
          :color = !color_error
          :position = -10px (-60-!grid_icon_large)
    .info 
      .status.small div.icon
        :background
          :color = !color_warning
          :position = -10px (-112-!grid_icon_large)
    .warning 
      .status.small div.icon
        :background
          :color = !color_info
          :position = -10px (-164-!grid_icon_large)

  # hide panels not needed in states
  .state1
    a.container-minimise, a.container-info, a.container-close, div.status.small, div.search, ul#event-list, div.buttons.small, div.status.large, div.buttons.large
      :display none !important
  .state2
    ul.launcher, div.status.small, div.search, ul#event-list, div.buttons.small
      :display none !important
  .state3
    ul.launcher, div.status.large, div.buttons.large
      :display none !important