<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <%= stylesheet_link_tag "jshub.css" %>
    <title>jsHub</title>
  </head>
  <body class="jshub">
    <h1>
      <span class="one">jsHub</span>
      <span class="two">The Last Javascript Tag 
        <span class="scm">(<%= render 'shared/version' %>)</span>
      </span>
    </h1>

    <% if flash[:notice] %>
    <div id="flash" class="notice" style="display: block">
      <strong><%= flash[:notice] %></strong>
    <% flash[:notice] = nil %>
    </div>
    <script type="text/javascript">
      setTimeout(function(){
        document.getElementById('flash').style.display = 'none';
      }, 1500);
    </script>
    <% end %>
    
    <%= yield :layout %>

  </body>
</html>
