    <div class="yui-g footer">
      <p class="legal">
        &copy; 2009 jsHub.org - see <a href="#">Terms and conditions</a> for full details. 
        <span class="scm">(<%= render :partial => 'shared/version' %>)</span>        
      </p>
    </div>