<h1>Inspector</h1>
<p>Development of the Inspector for jsHub based on YUI 2 Library (<%= link_to 'docs', 'http://developer.yahoo.com/yui/' %>) and accordion widget (<%= link_to 'docs', '../docs/' %>).</p>

<ol>
  <li><%= link_to 'UI and CSS states', :action => 'index' %></li>
  <li><%= link_to 'Javascript API', :action => 'index2' %></li>
</ol>

