      <% 
      # set defaults ref: http://hackd.thrivesmarthq.com/how-to-make-a-rails-partial-with-optional-locals-parameters
        text = 'Unknown Action' if local_assigns[:text].nil? 
      %>
      <div class="yui-g buttons">
          <p class="button"><%= text %></p>
      </div>
