    <!-- <a class="container-minimise" href="#">Minimise</a> -->
    <!-- <a class="container-info" href="#">Info</a> -->  
    <div class="yui-resize-handle yui-resize-handle-br">
      <div class="yui-resize-handle-inner-br"></div>
    </div>