            <div class="datasource-item">
              <div class="bd">
                <div title="Data source information" class="yui-g help-text event-header">
                    Example item
                </div>
                <div class="yui-g">
                  <ul class="message info">
                    <li>Data capture plugins:</li>
                  </ul>
                </div>
                <div class="yui-g">
                  <p class="value">type - <a href="#">reference page</a></p>
                  <p class="value">type - <a href="#">reference page</a></p>
                  <p class="value">type - <a href="#">reference page</a></p>
                  <p class="value">type - <a href="#">reference page</a></p>
                </div>
                <div class="yui-g">
                  <hr class="event-separator" />
                </div>
              </div>
            </div>

            <%# as implemented in Inspector %>
            <div class="tag-status-item">
              <div class="bd">
                <div title="Data source information" class="yui-g help-text event-header">
                  hPage Microformat Parser plugin
                </div>
                <div class="message info">
                  <ul>
                    <li>Data capture plugin</li>
                  </ul>
                </div>
                <%# using a 1/3 - 2/3 YUI grid %>
                <div class="yui-gd duplicate">
                  <div class="yui-u first">
                    <p class="vendor">
                      Vendor:
                    </p>
                  </div>
                  <div class="yui-u">
                    <p class="value">
                      jsHub.org
                    </p>
                  </div>
                </div>                
                <div class="yui-gd duplicate">
                  <div class="yui-u first">
                    <p class="vendor">
                      Author:
                    </p>
                  </div>
                  <div class="yui-u">
                    <p class="value">
                      Liam Clancy
                    </p>
                  </div>
                </div>             
                <div class="yui-gd duplicate">
                  <div class="yui-u first">
                    <p class="vendor">
                      Version:
                    </p>
                  </div>
                  <div class="yui-u">
                    <p class="value">
                      0.1
                    </p>
                  </div>
                </div>                 

                <div class="yui-g">
                  <hr class="event-separator" />
                </div>
              </div>
            </div>