            <% 
            # template for an event formatted as a single line
              id = 'nil' if local_assigns[:id].nil? 
              variable = 'Unknown variable' if local_assigns[:variable].nil? 
              vendor = 'Unknown vendor' if local_assigns[:vendor].nil? 
              value = 'Unknown value' if local_assigns[:value].nil?
              help_text = 'No help text available' if local_assigns[:help_text].nil?              
              warning = false if local_assigns[:warning].nil? 
              warnings = false if local_assigns[:warnings].nil? 
            -%>
            <div id="&lt;%=h id.to_s %&gt;" class="datasource-item"> <div class="bd"> <div title="Data source information" class="yui-g help-text event-header"> HTML Microformats (MF) </div> <div class="yui-g"> <ul class="message warning"> <li>Different values are being set:</li> </ul> </div> <div class="yui-g"> <p class="value">pageview - <a href="#">reference page</a></p> <p class="value">product - <a href="#">reference page</a></p> <p class="value">ecommerce - <a href="#">reference page</a></p> <p class="value">affiliate - <a href="#">reference page</a></p> </div> <div class="yui-g"> <hr class="event-separator" /> </div> </div> </div>
    