            <div id="&lt;%=h id.to_s %&gt;" class="datasource-item">
              <div class="bd">
                <div title="Data source information" class="yui-g help-text event-header">
                    HTML Microformats (MF)
                </div>
                <div class="yui-g">
                  <ul class="message warning">
                    <li>Different values are being set:</li>
                  </ul>
                </div>
                <div class="yui-g">
                  <p class="value">pageview - <a href="#">reference page</a></p>
                  <p class="value">product - <a href="#">reference page</a></p>
                  <p class="value">ecommerce - <a href="#">reference page</a></p>
                  <p class="value">affiliate - <a href="#">reference page</a></p>
                </div>
                <div class="yui-g">
                  <hr class="event-separator" />
                </div>
              </div>
            </div>