    <%# using a 1/3 - 2/3 YUI grid %>
    <div class="yui-gf search">
      <div class="yui-u first">
        <label for="inspector_search" class="search">Find</label>
      </div>
      <div class="yui-u">
        <input id="inspector_search" type="text" class="search" disabled="disabled" />
      </div>
    </div>
       