      <div class="yui-g status large">
        <div class="yui-u first icon">
          Large Icon
        </div>
        <div class="yui-u">
          <p class="self">jsHub is</p>
          <p class="message">Installed &amp; active<p>
        </div>
      </div>