      <div class="yui-g status small">
        <div class="yui-u first icon">
          &nbsp;
        </div>
        <div class="yui-u text">
          <p class="message">Installed &amp; active</p>
        </div>
      </div>