      <div class="yui-g status small">
        <div class="yui-u first icon">
          Small Icon
        </div>
        <div class="yui-u">
          <p class="message">Installed &amp; active</p>
        </div>
      </div>