      <% 
      # set defaults ref: http://hackd.thrivesmarthq.com/how-to-make-a-rails-partial-with-optional-locals-parameters
        text = 'Unknown state' if local_assigns[:text].nil? 
      %>
      <div class="yui-g status small">
        <div class="yui-u text">
          <p class="message"><%= text %></p>
        </div>
      </div>