<% content_for :intro do %>  

<h2>Firefox Extension</h2>

To help in development of the extension version use the following links:

<ul>
  <li><%= link_to 'Create XPI bundle', :action => 'bundle_xpi' %>.</li>
  <li><%= link_to 'Download XPI', @inspector.xpi_download_path, :class => 'xpi' %></li>
</ul>

<script type="text/javascript">
function doXPITrigger() {
if (!document.getElementsByClassName || !InstallTrigger) return false;
var els = document.getElementsByClassName("xpi");
for (var i=0; i < els.length; i++) {
  els[i].onclick = function() {
      xpi = { 'jsHub Inspector': this.href };
      InstallTrigger.install(xpi);
      return false;
    }
  }
}
window.onload = doXPITrigger
</script>

<% end %>