<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Javascript Test Reports</title>

    <!-- YUI Docs Styles -->
    <%= stylesheet_link_tag "yui/yui", :cache => "yui" %>

    <!-- YUI code highlighter -->
    <%= stylesheet_link_tag "yui/dpSyntaxHighlighter", :cache => "dpSyntaxHighlighter" %>
    <%= javascript_include_tag "yui/dpSyntaxHighlighter.js", :cache => "dpSyntaxHighlighter" %>
		
  </head>
  <body class="yui-skin-sam">
    <div id="doc" class="yui-t5">
      <div id="hd">
      </div>
      <div id="bd">
        <div id="yui-main">
        	
			<%= yield -%>
			
        </div>
      </div>
      <div id="ft">
      </div>
    </div>

    <!-- YUI code highlighter init -->
    <script type="text/javascript">dp.SyntaxHighlighter.HighlightAll('code');</script>
		
  </body>
</html>
