<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Test Page</title>
    
    <!-- YUI Test -->
    <%= stylesheet_link_tag "yui/logger", "yui/yuitest", :cache => "yuitest" %>
    <%= javascript_include_tag "yui/yahoo-dom-event.js", "yui/logger-min.js", "yui/yuitest-min.js", :cache => "yuitest" %>
   
  </head>
  <body class="yui-skin-sam">
          
      <%= yield -%>

  <!-- YUI TestLogger placeholder -->
  <div id="testLogger"></div>
  </body>
</html>
