    <div class="yui-gb header">
      <div id="logo" class="yui-u first">
          <%= link_to("Homepage", :action => "index") %>
      </div>
      <div id="departments" class="yui-u">
        &nbsp;
      </div>
      <%= render :partial => 'cart_header.html.erb' %>     
    </div>