      <div class="yui-b nav2">
        <div class="menu">
          <h1>Page title</h1>
          <ul>
            <li>
              <%= link_to("Homepage", :action => "index") %>
            </li>
            <li>
              <%= link_to("Products", :action => "buy") %>
            </li>
            <li>
              <%= link_to("Checkout", :action => "checkout") %>
            </li>
          </ul>
        </div>
      </div>