<div id="footer">
  <div class="left">
    Ecommerce functionality by <a href="http://spreecommerce.com/">Spree</a> (jsHub <%= render :partial => 'shared/version' %>)
  </div>
  <div class="right">
    <%= render :partial => 'shared/language_bar' if Spree::Config[:allow_locale_switching] %>
  </div>
  <%= render :partial => 'shared/analytics_tags' %>
</div>   
