  <h2>Your basket</h2>
  
  <!-- The actual cart -->
  <% if @cart.items.size > 0 %>
  <ul class="cart">
    <%= render :partial => "cart_item", :collection => @cart.items %>
  </ul>
  <script type="text/javascript">
    // The [+] button triggers a basket add event
    $(".cart .product_add").bind("click", add_product_cart);

    // Pressing enter in the quantity form triggers an update event
    $(".cart input[name='quantity']").change(update_quantity);
    
    // The [-] button triggers a basket remove event
    $(".cart .product_remove").bind("click", remove_product);
  </script>
  <% end %>
  
  <!-- Continue shopping links -->
  <% if @cart.items.size > 0 %>
  <p class="clear"></p>
  <div class="cart">
  	Order total: <span id="cart-total"><%= number_to_currency( cart.total_price, :unit => '&pound;' ) %></span>.
	
	<% form_tag({ :action => 'confirm' }) do %>
	  <div><button id="confirm">Confirm order</button></div>
	<% end %>
    or
    <button id="back">Continue shopping</button>
  </div>
  <script type="text/javascript">
    $('#back').click(function(){
      window.location.href = './buy';
      return false;
    });
  </script>
  
  <% else controller.action_name != "buy" %>
  <p>Your basket is currently empty.</p>
  <p><%= link_to "Start shopping", :action => "buy" %></p>
  <% end %>
