      <div id="cart" class="yui-u">
        <a href="<%= url_for :action => 'checkout' %>">
        <span id="cart-items">
          <%= cart_size_message %>
        </span>
        </a>
      </div> 