<!-- Authentication event markup -->
<div class="hauthentication">
  <p>hAuthentication event <br />
	<span class="user-id"><%= session[:username] %></span><br />
	<span class="auth-method">Password</span><br />
  </p>
</div>
