<!-- Authentication event markup -->
<h3>hAuthentication event</h3>
<div class="hauthentication">
	<span class="user-id" data-visibility="email"><%= session[:username] %></span><br />
	<span class="auth-method">Password</span><br />
</div>
