<!-- Page view markup -->
<h3>hPage view event:</h3>
<div class="hpage">
    <span class="page-name"><%= @hpage[:pagename] %></span><br/>
    <span class="page-category"><%= @hpage[:category] %></span><br />
</div>
