<!-- Page view markup -->
<ul class="hpage">
  <li>
    hPage view event: <br />
    <code>&lt;div class="hpage"&gt;</code> <br />
    <code>&lt;span class="page-name"&gt;<span class="page-name"><%= @hpage[:pagename] %></span>&lt;/span&gt;</code> <br />
    <code>&lt;span class="page-category"&gt;<span class="page-category"><%= @hpage[:category] %></span>&lt;/span&gt;</code> <br />
    <code>&lt;div&gt;</code>
  </li>
</ul>
