<!-- Page view markup -->
<h3>hPage view event:</h3>
<div class="hpage">
    <span class="name"><%= @hpage[:pagename] %></span><br/>
    <span class="category"><%= @hpage[:category] %></span><br />
</div>
