<div class="microformats">
  <h2>Microformats (hidden)</h2>
  <%= render :partial => "hAuthentication" if show_authenticate? %>
  <%= render :partial => "hProductPurchase" if show_product_purchase? %>
  <%= render :partial => "hPage" %>
</div>