        <form id="searchform" class="search" method="get" action="">
          <fieldset>
            <label for="searchquery">SEARCH FOR</label>
            <input id="searchquery" type="text" size="25" name="s" value="Keyword or Item #" disabled="disabled" />
            <input id="searchsubmit" type="submit" value="GO" disabled="disabled" />
          </fieldset>
        </form>