<h1>Retail shop</h1>
<p>
  <strong>Confirm your order</strong>, current estimated delivery date is tomorrow for this order.
</p>
<%= render :partial => "cart", :locals => { :cart => @cart, :action => "confirm" } %>

