				<div id="mLauncherModule" class="yui-module" style="display: block;">
					<div class="bd">
						<ul class="launcher">
							<li class="status">
								&nbsp;
							</li>
						</ul>
					</div>
				</div>
