  <div class="yui-g top">
    <div class="details">
      <p>
        <strong>Name</strong>: (required) every configuration has a name so that you can 
		retrieve it in the future.
      </p>
      <p>
        <strong>Plugins</strong>: choose the plugins that you require in the generated tag,
		and fill in any parameters required.
      </p>
      <p>
        <strong>Comments</strong>: you can enter any notes for your own reference here.
      </p>
    </div>
  </div>
