  <div class="yui-g top">
    <div class="details">
      <h2>
      	Creating your tag configuration
	  </h2>
      <p>
        <strong>Step 1</strong><br />
		Choose a name for the configuration so that you can 
		retrieve it in the future.
      </p>
      <p>
        <strong>Step 2</strong><br />
		Choose the libraries and plugins that you require in the generated tag,
		and fill in any parameters required.
      </p>
      <p>
        <strong>Step 3</strong><br />
		Add optional comments or notes for your own reference. These are not published
		in the tag.
      </p>
    </div>
  </div>
