<h1>jsHub Tag Configurator</h1>

<p class="homepage">
  You can use the configurator to create a customized tag for your site.
</p>
<p class="homepage">
  A tag consists of the core code functionality, plus a number of plugins.
  You should choose the appropriate plugins for the services you are using
  on your site.
</p>
<p class="homepage">
  If you <%= link_to "log in", login_path %> or <%= link_to "register", register_path %>,
  then you can save your configuration and keep a history of changes. 
</p>

<div class="button create"><%= link_to 'Create a new configuration', new_tag_configuration_path %></div>
