<div style="margin:3em;">
  <h1>Welcome to the jsHub demo store</h1>
  <p>The store shows the both the jsHub tag in operation, and the microformat 
    markup in place on the page.</p>
  
  <h2>Microformat markup</h2>
  <p>
  	Browse the store and you will see the microformat markup on each page.
	<%= link_to 'Take me to the store', products_path, :style => 'font-size:2em;' %>.
  </p>
    <strong>Microformats? What's a microformat?</strong><br />
	Microformats are a method of encoding metadata in HTML. There's a lot of information on
	the <%=link_to 'microformats.org', 'http://microformats.org/' %> website. If you know
	HTML, you should find it very easy to read the markup.
  </p>
  <p>
  	The markup appears inline in the page (view source to see it). But it is also copied
	below the fold into <a href="#jshub">the footer of the page</a> so that you can see all
	the markup on the page. That's only for demo purposes of course!
  </p>
  <p>
  	<strong>What microformats are present on the demo store?</strong><br />
	You will find hPage markup on every page. The hPage specification defines metadata about
	the page: the page name, the category it belongs to, etc. The 
	<%= link_to 'hPage specification', 'http://jshub.org/hPage/' %> contains technical information about 
	the markup.
  </p>
  <p>
  	There is also markup about the products, using the hProduct format, which we are still
	developing.
  </p>
  
  <h2>The jsHub tag and the inspector</h2>
  <p>
  	Data is collected from the page using the jsHub tag. The jsHub project provides a simple,
    standard, unified tag, with plugins that know how to send data to the various services 
	we are using on the page.
  </p>
  <p>
  	<strong>Just another Universal Tag?</strong><br />
	jsHub is <%=link_to 'not another Universal Tag', 'http://jshub.org/enterprises/' %>. It is
	a community standard for a brand new tag, not a wrapper around existing tags.
</div>
