


body.jshub.configurator {
  margin: 0 auto;
  /* messages and notices */
  /*  */ }
  body.jshub.configurator .hide {
    display: none; }
  body.jshub.configurator div.page {
    /* customise the page width */
    /*  */
    width: 960px;
    min-width: 960px; }
    body.jshub.configurator div.page hr {
      margin-bottom: 10px;
      border: none;
      border-bottom: 1px solid #fff; }
    body.jshub.configurator div.page a {
      color: #035b9d;
      text-decoration: none; }
    body.jshub.configurator div.page h1 {
      margin: 0;
      margin-bottom: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid #fff;
      font-size: 182%; }
    body.jshub.configurator div.page h2 {
      margin: 0;
      margin-bottom: 5px;
      color: #858689;
      font-size: 138.5%; }
    body.jshub.configurator div.page.homepage .content {
      min-height: 350px;
      padding: 15px;
      background-color: #efefef;
      border: 1px solid #efefef;
      border-radius: 1em;
      -moz-border-radius: 1em;
      -moz-box-shadow: 0.2em 0.2em #000000;
      box-shadow: 0.2em 0.2em #000000; }
    body.jshub.configurator div.page.users .content .account {
      min-height: 350px;
      padding: 15px;
      background-color: #efefef;
      border: 1px solid #efefef;
      border-radius: 1em;
      -moz-border-radius: 1em;
      -moz-box-shadow: 0.2em 0.2em #000000;
      box-shadow: 0.2em 0.2em #000000; }
    body.jshub.configurator div.page.users .content .help {
      min-height: 350px;
      padding: 15px;
      background-color: #efefef;
      border: 1px solid #efefef;
      border-radius: 1em;
      -moz-border-radius: 1em;
      -moz-box-shadow: 0.2em 0.2em #000000;
      box-shadow: 0.2em 0.2em #000000; }
  body.jshub.configurator div.header {
    height: 110px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -50px; }
    body.jshub.configurator div.header a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.nav1 {
    margin-bottom: 5px; }
    body.jshub.configurator div.nav1 .buttons {
      height: 35px;
      background-color: transparent;
      background-image: url('images/configurator-sprite.png');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: -50px -200px; }
      body.jshub.configurator div.nav1 .buttons a {
        display: block;
        height: inherit;
        overflow: hidden;
        text-indent: -10000em;
        text-decoration: none;
        height: 35px; }
  body.jshub.configurator div.tools .login {
    margin: 5px;
    text-align: right; }
    body.jshub.configurator div.tools .login .login-state {
      color: #858689; }
    body.jshub.configurator div.tools .login .username {
      color: #858689;
      font-weight: bold; }
  body.jshub.configurator div#flash {
    margin: 5px 0;
    padding: 10px;
    background-color: #ffc;
    border: 1px solid #ccc; }
  body.jshub.configurator div.errorExplanation {
    padding: 10px;
    background-color: #ffc;
    border: 1px solid #ccc; }
    body.jshub.configurator div.errorExplanation h2 {
      color: black; }
  body.jshub.configurator div.links {
    height: 32px;
    background-color: #efefef;
    border: 1px solid #efefef;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -moz-box-shadow: 0.2em 0.2em #000000;
    box-shadow: 0.2em 0.2em #000000; }
    body.jshub.configurator div.links ul {
      margin: 0.3em 0;
      padding: 6px 15px;
      color: #b4b7be; }
      body.jshub.configurator div.links ul li {
        float: left;
        padding: 0 6px;
        border-left: 1px solid #b4b7be;
        list-style-type: none;
        font-size: 85%; }
        body.jshub.configurator div.links ul li.first {
          border-left: none; }
        body.jshub.configurator div.links ul li a {
          color: inherit;
          font-weight: bold;
          text-decoration: none; }
  body.jshub.configurator div.footer .legal {
    padding: 6px 15px;
    color: #b4b7be;
    font-size: 85%; }
    body.jshub.configurator div.footer .legal a {
      /* TODO dotted and grey */
      /*  */ }
  body.jshub.configurator div.nav2 .top {
    padding: 15px;
    min-height: 150px;
    background-color: #efefef;
    border: 1px solid #efefef;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -moz-box-shadow: 0.2em 0.2em #000000;
    box-shadow: 0.2em 0.2em #000000; }
  body.jshub.configurator div.nav2 .bottom {
    padding: 15px;
    min-height: 150px; }
  body.jshub.configurator div.content {
    padding: 0; }
    body.jshub.configurator div.content .col1 {
      min-height: 350px;
      padding: 15px;
      background-color: #efefef;
      border: 1px solid #efefef;
      border-radius: 1em;
      -moz-border-radius: 1em;
      -moz-box-shadow: 0.2em 0.2em #000000;
      box-shadow: 0.2em 0.2em #000000; }
    body.jshub.configurator div.content .actions {
      width: 22%; }
      body.jshub.configurator div.content .actions.big {
        width: 50%; }
  body.jshub.configurator div.icon.tick {
    width: 32px;
    height: 22px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -1200px; }
    body.jshub.configurator div.icon.tick a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.icon.edit {
    width: 32px;
    height: 22px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -1150px; }
    body.jshub.configurator div.icon.edit a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.icon.delete {
    width: 32px;
    height: 22px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -100px -1150px; }
    body.jshub.configurator div.icon.delete a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.download {
    width: 220px;
    height: 35px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -350px; }
    body.jshub.configurator div.button.download a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.create {
    width: 220px;
    height: 35px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -400px; }
    body.jshub.configurator div.button.create a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.login {
    width: 70px;
    height: 25px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -500px; }
    body.jshub.configurator div.button.login a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.logout {
    width: 80px;
    height: 25px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -550px; }
    body.jshub.configurator div.button.logout a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.new {
    width: 150px;
    height: 25px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -600px; }
    body.jshub.configurator div.button.new a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.edit {
    width: 55px;
    height: 25px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -650px; }
    body.jshub.configurator div.button.edit a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.delete {
    width: 65px;
    height: 25px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -700px; }
    body.jshub.configurator div.button.delete a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.register {
    width: 100px;
    height: 25px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -750px; }
    body.jshub.configurator div.button.register a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.cancel {
    width: 100px;
    height: 25px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -950px; }
    body.jshub.configurator div.button.cancel a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator div.button.back {
    width: 100px;
    height: 25px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -1050px; }
    body.jshub.configurator div.button.back a {
      display: block;
      height: inherit;
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none; }
  body.jshub.configurator button.save_changes {
    display: block;
    height: inherit;
    overflow: hidden;
    text-indent: -10000em;
    text-decoration: none;
    border: none;
    padding: 0;
    margin-top: -2px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -1000px; }
  body.jshub.configurator button.save {
    display: block;
    height: inherit;
    overflow: hidden;
    text-indent: -10000em;
    text-decoration: none;
    border: none;
    padding: 0;
    margin-top: -2px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -800px; }
  body.jshub.configurator button.login {
    display: block;
    height: inherit;
    overflow: hidden;
    text-indent: -10000em;
    text-decoration: none;
    border: none;
    padding: 0;
    margin-top: -2px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -450px; }
  body.jshub.configurator button.create_account {
    display: block;
    height: inherit;
    overflow: hidden;
    text-indent: -10000em;
    text-decoration: none;
    border: none;
    padding: 0;
    margin-top: -2px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    background-image: url('images/configurator-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -1100px; }

body.jshub.configurator table {
  width: 100%; }
body.jshub.configurator td, body.jshub.configurator th {
  text-align: left;
  border: 0px none;
  border-bottom: 1px solid #808080; }
body.jshub.configurator th:last-child {
  width: 65px; }
body.jshub.configurator td .yui-g {
  width: 100% !important; }
body.jshub.configurator tbody tr:first-child {
  border-top: 1px solid #808080; }
body.jshub.configurator textarea {
  width: 100%;
  height: 100px; }
body.jshub.configurator label {
  float: left;
  width: 15em;
  min-height: 1em;
  color: #858689;
  font-weight: bold; }
  body.jshub.configurator label.right {
    float: none; }
body.jshub.configurator .label {
  float: left;
  width: 8em;
  min-height: 1em;
  color: #858689;
  font-weight: bold; }
body.jshub.configurator .plugin_name {
  color: #000000;
  font-weight: bold; }
body.jshub.configurator small {
  display: none; }
body.jshub.configurator .details div {
  margin-bottom: 1.0em; }
body.jshub.configurator .details p {
  margin: 0.5em 0; }
