  <div class="yui-g top">
    <div class="details">
	  <p>
	  	If you don't have an account already, then please <%= link_to "register", register_path %>,
		so you can save your configurations. 
	  </p>
    </div>
  </div>
